.card {
  margin-top: 5%;
  border: none;
  box-shadow: 5px 5px 5px;
}

.row {
  width: auto;
}

.movieRow {
  margin: auto;
}

.col {
  flex-grow: 0;
  margin-top: 1%;
  margin-bottom: 1%;
}

.card-title {
  text-align: center;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-img {
  width: auto;
  height: 360px;
}

h2::before {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #505863;
  margin: auto;
}

.btn, .btn:hover, .btn:focus, .btn:active {
  background-color: #21E08B!important;
  color:#24323F!important;
  border: none!important;
  box-shadow: none;
  border-radius: 50px!important;
}

h2 {
  display: flex;
  flex-direction: row;
  text-align: center; 
  line-height: 0.1em;
  padding-top:1%;
}

.card-title {
  font-size: 1vh;
}

.releaseDate {
  color: #626871;
}

.movieName {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  padding: 0 15px;
  padding-top: 1%;
}

.underLineRow {
  padding-left: 15px;
}
