.card {
  margin-top: 5%;
  border: none;
}

.row {
  width: auto;
}

.movieRow {
  margin: auto;
}

.movieCol {
  flex-grow: 0;
  margin-top: 1%;
  margin-bottom: 1%;
  transition: all 0.5s;
}

.movieCol:hover{
  transform: scale(1.1);
}

.card-title {
  text-align: center;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-img {
  width: auto;
  height: 360px;
  object-fit: cover;
}


.card-title {
  font-size: 1vh;
}

.releaseDate {
  color: #626871;
}

.movieName {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  padding: 0 15px;
  padding-top: 1%;
}

.pagination{
  justify-content: center;
}

.page-link{
  color: white !important;
  background-color: #24323f !important;
  border: none;
}

.page-link:hover{
  background-color: #1A2634 !important;
}

.page-item.active .page-link{
  border: 1px solid white!important;
}
