.movieHeader{
    font-size: 30px;
    color: white;
    padding-top: 2%;
}

.movieDescription{
    color: white;
    max-width: 90%;
    margin-top: 1%
}

.movieInformation{
    border: none;
    padding: 0 0;
    width: 100%;
}

.movieImage{
    width: 400px;
    height: 550px;
}

.reviewInfo{
    margin-top: 2%;
}

.movieDiv{
    width: 100%;
}

.movieGenres{
    color: #626871;
    text-decoration: none;
}

.box > div{
    display:flex;
    flex-direction: row;
    margin-left: 3%;
}

.castSection{
    font-size: 30px;
    color: white;
    width: 100%;
    padding: 0 15px;
    margin-top: 2%;
}

.actor{
    display: inline-block;
    margin-right: 1.5%;
}

.reviewSection{
    font-size: 30px;
    color: white;
    padding-top: 2%;
}


#mainMovieLine::before {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #505863;
    margin-bottom: 1%;
  }

.youtubePlayer{
    margin-left: 3%;
    padding: 0 0;
    height: auto;
    width: auto;
    overflow-x: hidden;
}

.movieRole{
    color: white;
    font-size: 16px;
}

.movieBox{
    display: flex;
    margin-top: 2%;
}

.realName{
    color: #626871;
    font-size: 14px;
}

.actorPicture{
    min-height: 90px;
    min-width: 60px;
    height: 90px;
    width: 60px;
    object-fit: cover;
}

.actorItem{
    display: flex;
    width: 100%;
}

.actorInformation{
    margin-left: 3%;
}

.actor{
    padding: 0 0;
    margin: 0 0 0;
}